[
    {
        "Username": "",
        "FilenamePattern": "videos/{{.Username}}/{{.Year}}-{{.Month}}-{{.Day}}/{{.Username}}_{{.Hour}}-{{.Minute}}-{{.Second}}{{if .Sequence}}_{{.Sequence}}{{end}}",
        "Framerate": 30,
        "Resolution": 1080,
        "ResolutionFallback": "down",
        "SplitDuration": 30,
        "SplitFilesize": 0,
        "Interval": 1
    }
]